:host {
	height: 100%;
	cursor: pointer;
}
a:link,
a:visited,
a:hover,
a:active {
	text-decoration: none;
}
mat-card {
	min-width: 240px;
	border-radius: 24px;
	height: 95%;
}
mat-card-header {
	height: 100px;
}
img {
	width: 240px;
	height: 300px;
}
div.rating {
	display: grid;
	grid-template-columns: auto 100px;
	align-items: center;
}
div.rating p {
	margin-bottom: 0;
}
div.reviews {
	margin-top: 30px;
}
@media only screen and (max-width: 1060px) {
	mat-card {
		max-width: 100%;
	}
}
