mat-card {
	max-width: 240px;
	border-radius: 24px;
	height: 95%;
}
mat-card-header {
	height: 100px;
}
img {
	width: 240px;
	height: 300px;
}
app-rating {
	background: lightskyblue;
	margin: 1rem;
}
