mat-card {
	display: grid;
	grid-template-rows: auto auto;
	gap: 0;
	align-items: stretch;
	min-width: 240px;
	border-radius: 24px;
	background: white;
	padding: 0;
	.imageDiv {
		background: #371687 center/cover no-repeat;
		height: 300px;
		border-radius: 24px 24px 0 0;
	}
	.textDiv {
		padding: 16px;
		h4, p {
			color: #371687;
			margin: 0;
		}
		h4 {
			font-weight: 700;
			font-size: 20px;
			max-width: 210px;
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;
		}
		p {
			color: #371687;
		}
		mat-icon {
			vertical-align: bottom;
		}
	}
}
@media only screen and (max-width: 1060px) {
	mat-card {
		.image-div {
			height: 100%;
			min-height: 300px;
		}
		.rating {
			margin-bottom: 0;
			display: grid;
			grid-template-columns: auto auto;
			justify-content: space-between;
			align-items: center;
			h4 {
				font-size: 18px;
			}
			h4, p {
				display: inline;
				margin: 16px;
			}
		}
	}
}
