mat-card {
	max-width: 600px;
	border-radius: 24px;
	height: 95%;
	margin: 20px auto;
	padding: 50px;
}
mat-card-header {
	height: 50px;
}
img {
	width: 240px;
	display: block;
  margin: 20px auto;
}
p.description {
	margin: 30px 0;
}
