<mat-card *ngIf="showData">
	<!-- HEADER -->
	<mat-card-header>
		<mat-card-title>{{ showData.title }}</mat-card-title>
	</mat-card-header>
	<!-- IMAGE -->
	<img *ngIf="showData.imageUrl" mat-card-image [src]="showData.imageUrl" />
	<img *ngIf="!showData.imageUrl" mat-card-image src="https://via.placeholder.com/240x300" />

	<mat-card-content>
		<!-- DESCRIPTION -->
		<p class="description">{{ showData.description }}</p>
		<!-- RATING -->
		<div *ngIf="showData.averageRating; else notRated">
			<p>Average rating: {{ showData.averageRating }}</p>
			<app-rating [rating]="showData.averageRating"></app-rating>
		</div>
		<ng-template #notRated>
			<p>Not rated yet.</p>
		</ng-template>
	</mat-card-content>
</mat-card>
