:host {
	background: lightgrey;
	padding: 20px;
	width: 100%;
	max-width: 1060px;
}
@media only screen and (max-width: 1060px) {
	:host {
		margin: auto;
	}
}
p {
	font-weight: bold;
}
mat-form-field,
button {
	display: block;
}
