<p>Add new Show:</p>
<form>
	<mat-form-field appearance="fill">
		<mat-label>Title</mat-label>
		<input type="text" name="title" #newShowTitle matInput required [formControl]="titleFormControl" />
		<mat-error *ngIf="titleFormControl.hasError('required')">Please enter a valid description.</mat-error>
	</mat-form-field>

	<mat-form-field appearance="fill">
		<mat-label>Description</mat-label>
		<textarea
			name="description"
			rows="10"
			#newShowDescription
			matInput
			required
			[formControl]="descriptionFormControl"
		></textarea>
		<mat-error *ngIf="descriptionFormControl.hasError('required')">Please enter a valid description.</mat-error>
	</mat-form-field>

	<!-- <button
		mat-raised-button
		color="primary"
		type="button"
		(click)="onAddNewShow(newShowTitle.value, newShowDescription.value)"
	>
		Save
	</button> -->
</form>
