app-shows-list {
	margin: 1rem auto;
	display: grid;
	align-content: center;
	grid-template-columns: 240px 240px 240px;
	gap: 20px;
	justify-content: space-evenly;
}
@media only screen and (max-width: 1060px) {
	app-shows-list {
		grid-template-columns: 240px;
	}
}



div {
	width: 25vh;
	height: 25vh;
	background: white;
	border-radius: 50%;
	margin: 25vh auto;
}
mat-spinner {
	position: relative;
	margin: auto;
  top: 50%;
	transform: translateY(-50%);
}
