:host {
	display: grid;
	align-items: center;
	justify-items: center;
	padding: 24px;
	.input-container {
		margin-bottom: 34px;
		label {
			display: grid;
			justify-items: center;
			width: 500px;
			height: 500px;
			border-radius: 0px;
			background: 50% 85%/48% no-repeat;
			background-image: url(../../../../assets/upload.png);
			border: 1px dashed white;
			padding: 48px;
			font-size: 18px;
			line-height: 2;
			text-align: center;
			text-shadow: 0 0 3px black;
			box-shadow: inset 0 0 0px white;
			transition: 0.25s ease-out;
			transition-property: border, border-radius, box-shadow, background-size;
			&:hover{
				cursor: pointer;
			}
			&.hoverClass {
				border: 1px solid #FF2498;
				border-radius: 24px;
				box-shadow: inset 0 0 48px #FF2498;
				background-size: 0%
			}
		}
		input {
			display: none;
		}
	}
	.action-btns {
		button {
			margin: 0 20px;
		}
	}
}



@media only screen and (max-width: 1060px) {
	:host {
		padding: 0px;
		.input-container {
			label {
				width: calc(100vw - 140px);
				height: calc(100vw - 140px);
				padding: 12px;
				font-size: 16px;
				line-height: 1.5;
			}
		}
		.action-btns {
			display: grid;
			gap: 20px;
		}
	}
}
