app-shows-list {
	margin: 20px auto 50px;
	display: grid;
	align-content: center;
	grid-template-columns: 240px 240px 240px;
	gap: 20px;
	justify-content: space-evenly;
}
@media only screen and (max-width: 1060px) {
	app-shows-list {
		grid-template-columns: 240px;
	}
}



div {
	width: 25vh;
	height: 25vh;
	background: white;
	border-radius: 50%;
	margin: 25vh auto;
}
mat-spinner,
button {
	position: relative;
	margin: auto;
  top: 50%;
	transform: translateY(-50%);
}
.retry {
	display: grid;
	grid-template-columns: auto;
	justify-content: center;
	align-content: center;
	p {
		color: red;
		font-weight: bold;
	}
}


app-show-form {
	background: lightgrey;
	padding: 20px;
	width: 100%;
	max-width: 1060px;
}
@media only screen and (max-width: 1060px) {
	app-show-form {
		margin: auto;
	}
}
