:host {
	display: grid;
	grid-template-columns: 19vw auto;
	grid-template-rows: 100vh;
	max-width: 1440px;
	margin: 0 auto;
	* {
		color: white;
	}
	header {
		display: grid;
		grid-template-rows: 10% 90%;
		padding: 1rem;
	}
	.logo {
		display: grid;
		align-content: center;
	}
	.menuBtn {
		display: none;
	}
	.desktopNav {
		height: 100%;
	}
}

@media only screen and (max-width: 1060px) {
	:host {
		grid-template-columns: auto;
		grid-template-rows: 8vh 92vh;
		header {
			grid-template-rows: auto;
			grid-template-columns: auto auto;
			justify-content: space-between;
			align-items: center;
		}
		.logo {
			margin-bottom: 0;
			max-width: 200px;
		}
		.menuBtn {
			display: block;
			max-width: 80px;
			mat-icon {
				font-size: 20px;
			}
		}
		.desktopNav {
			display: none;
		}
		.mobileNav {
			position: fixed;
			top: 8vh;
			left: 0;
			width: 75vw;
			height: 92vh;
			padding: 1rem;
			border-radius: 0 2rem 0 0;
		}
	}
}
