* {
	color: white;
}
mat-sidenav-container {
	margin: 0 auto;
	height: 100vh;
	mat-sidenav {
		width: 20%;
		padding: 3rem;
	}
	mat-sidenav-content {
		width: 80%;
		padding: 3rem;
	}
}
.logo {
	display: grid;
	align-content: center;
}
.menuBtn {
	display: none;
}

@media only screen and (max-width: 1060px) {
	mat-sidenav-container {
		mat-sidenav {
			width: 75vw;
			padding: 2rem;
		}
		mat-sidenav-content {
			width: 100%;
			padding: 2rem;
		}
	}
	header {
		display: grid;
		padding-bottom: 2rem;
		grid-template-columns: auto auto;
		justify-content: space-between;
	}
	.logo {
		margin-bottom: 0;
		max-width: 200px;
	}
	.menuBtn {
		display: block;
		max-width: 80px;
		mat-icon {
			font-size: 20px;
		}
	}
}
