:host {
	width: 800px;
}
mat-card {
	border-radius: 24px;
	height: 95%;
	margin: 20px auto;
	padding: 50px;
}
mat-card-content {
	margin: 10px;
	padding: 25px;
	border-radius: 10px;
}
.review-card {
	display: grid;
	grid-template:
		"profilePic email comment"
		"profilePic rating comment";
	.profile-pic {
		grid-area: profilePic;
		height: 36px;
	}
	.email { grid-area: email; }
	.comment { grid-area: comment; }
	.rating { grid-area: rating; }
	gap: 20px;
}
