:host {
	width: 800px;
}
.reviews-card {
	display: grid;
	grid-template-columns: 20% 80%;
	border-radius: 24px;
	margin: 20px auto;
	padding: 50px;
	background: #1B004C;
}
mat-card-content {
	display: grid;
	grid-template-columns: auto;
}
form {
	display: grid;
	grid-template: "comment comment" " . . ";
	justify-content: space-between;
}
.comment {
	grid-area: comment;
}
.post-btn {
	&[disabled] {
		background: grey;
	}
	border-radius: 9999px;
	width: 150px;
	height: 60px;
	font-size: 1.1rem;
	background: white;
	span, mat-icon {
		color: #371687;
	}
}
.loading {
	animation: spin 2s linear infinite;
	@keyframes spin {
		from { transform: rotate(0deg);	}
		to { transform: rotate(360deg);	}
	}
}
.existing-reviews div {
	display: grid;
	grid-template-columns: auto;
	gap: 40px;
	padding: 40px 0;
	mat-card {
		border-radius: 36px;
		padding: 40px;
	}
}
.review-post {
	display: grid;
	grid-template:
		"profilePic email comment"
		"profilePic rating comment";
	grid-template-columns: 7% 20% 73%;
	align-items: center;
	.profile-pic {
		grid-area: profilePic;
		width: 50px;
		height: 50px;
		border-radius: 50%;
	}
	.email { grid-area: email; }
	.comment { grid-area: comment; }
	.rating { grid-area: rating; }
}
