:host {
	display: grid;
	grid-template-columns: auto;
	justify-items: end;
	mat-card {
		border-radius: 36px;
		margin: 24px 0;
		padding: 40px;
	}
	.review-post {
		width: 80%;
		.review-post-data {
			display: grid;
			grid-template:
				"profilePic email comment delete-btn"
				"profilePic rating comment delete-btn";
			grid-template-columns: 10% 30% 53% 7%;
			align-items: center;
			.profile-pic {
				grid-area: profilePic;
				width: 50px;
				height: 50px;
				border-radius: 50%;
			}
			.email { grid-area: email; }
			.comment { grid-area: comment; }
			.rating { grid-area: rating; }
			.delete-btn {
				grid-area: delete-btn;
				display: grid;
				justify-content: right;
				button {
					color:white;
				}
			}
		}
	}
}



@media only screen and (max-width: 1060px) {
	:host {
		p {
			margin: 0;
			font-size: 14px;
		}
		mat-card {
			border-radius: 36px;
			margin: 0 0 24px 0;
			padding: 28px;
		}
		.review-post {
			width: 100%;
			.review-post-data {
				grid-template:
					"profilePic rating"
					"profilePic email"
					"comment comment"
					"delete-btn delete-btn";
				grid-template-columns: 30% 70%;
				align-items: center;
				.profile-pic {
					width: 50px;
					height: 50px;
					border-radius: 50%;
				}
				.comment {
					margin-top: 14px;
				}
			}
		}
	}
}
