span {
	font-size: 20px;
	color: white;
	vertical-align: middle;
}
mat-icon {
	vertical-align: middle;
}
.filled {
	color: white;
}
.outlined {
	color: #8D5CE6;
}
.hovered {
	color: white;
	font-weight: bold;
}
