:host {
	height: 100%;
	display: grid;
	grid-template-rows: auto auto;
	align-content: space-between;
	justify-items: start;
	nav {
		display: grid;
		justify-items: start;
	}
	button {
		display: inline;
		font-size: 24px;
		margin-bottom: 1rem;
		border-radius: 999999999px;
		&:hover {
			background: hsla(258, 72%, 31%, 0.5);
		}
	}
	.active {
		background: #371687;
	}
}
