app-shows-list {
	margin: 1rem auto;
	display: grid;
	align-content: center;
	grid-template-columns: 240px 240px 240px;
	gap: 20px;
}
@media only screen and (max-width: 1060px) {
	app-shows-list {
		grid-template-columns: 240px;
	}
}

app-show-form {
	background: lightgrey;
	padding: 20px;
	width: 100%;
	max-width: 200px;
}

@media only screen and (max-width: 1060px) {
	app-show-form {
		margin: auto;
	}
}
